[Desktop Entry]
Name=DOSBox Staging
GenericName=DOS emulator
GenericName[ar]=محاكي DOS
GenericName[az]=DOS emulyatoru
GenericName[bg]=Емулатор на DOS
GenericName[bn]=একটি ডস এমুলেটর
GenericName[br]=Ur Kendarvaner DOS
GenericName[bs]=Simulator DOSa
GenericName[ca]=Emulador de DOS
GenericName[cy]=Efelychwr DOS
GenericName[da]=En DOS-emulator
GenericName[de]=Ein DOS-Emulator
GenericName[el]=Εξομοιωτής DOS
GenericName[es]=Un emulador de DOS
GenericName[et]=DOS-i emulaator
GenericName[eu]=DOS emulatzaile bat
GenericName[fa]=یک شبیه‌ساز داس
GenericName[fi]=DOS-emulaattori
GenericName[fr]=Un émulateur DOS
GenericName[gl]=Un emulador do DOS
GenericName[he]=הדמיית DOS
GenericName[hi]=एक डॉस एम्यूलेटर
GenericName[hr]=DOS emulator
GenericName[hu]=DOS-emulátor
GenericName[hy]=DOS էմուլատոր
GenericName[id]=Emulator DOS
GenericName[is]=DOS Hermir
GenericName[it]=Emulatore DOS
GenericName[ja]=DOS エミュレータ
GenericName[ky]=DOS эмулятору
GenericName[mk]=DOS емулатор
GenericName[mt]=Emulatur DOS
GenericName[nb]=DOS-emulator
GenericName[nl]=Een DOS-emulator
GenericName[nn]=DOS-emulator
GenericName[pl]=Emulator DOS
GenericName[pt]=Um emulador DOS
GenericName[pt_BR]=Emulador de DOS
GenericName[ro]=Un emulator de DOS
GenericName[ru]=Эмулятор DOS
GenericName[sc]=Un'emuladori de DOS
GenericName[sk]=DOS emulátor
GenericName[sl]=Emulator za DOS
GenericName[sq]=Një imitues DOS
GenericName[sv]=DOS-emulator
GenericName[tg]=Намунасизи DOS
GenericName[tl]=Isang manggagaya ng DOS
GenericName[tr]=Bir DOS öykünücü
GenericName[uk]=Емулятор DOS
GenericName[uz]=DOS emulyatori
GenericName[uz@cyrillic]=DOS emulyatori
GenericName[vi]=Trình mô phỏng DOS
GenericName[wa]=Èn emulateu DOS
GenericName[zh_CN]=DOS 模拟器
GenericName[zh_TW]=DOS 模擬器
Comment=DOS/x86 emulator focusing on ease of use
Exec=dosbox
Icon=dosbox-staging
Type=Application
Terminal=false
Keywords=dos;gaming;game;games;emulator;
Categories=Game;Emulator;
StartupWMClass=dosbox-staging
