[Desktop Entry]
Name=dosbox-staging
GenericName=DOS emulator
Comment=A modernized DOSBox
Exec=dosbox
Icon=dosbox-staging
Type=Application
Terminal=false
Keywords=dos;gaming;game;games;emulator;
Categories=Game;Emulator;
