# Precompiled Headers
*.gch
*.pch

# Other
compile
build.log
clean.log
make.log
.previous_build
.current_build
*.defines
missed.txt

# Common names for meson build dirs
build
builddir

# Visual Studio
.vs
.vscode

# GNU Global tags, used by some VSCode/Codium plugins
GPATH
GRTAGS
GTAGS

# Common editor temp/backup files
*~
*.swp
*.tmp
*.orig
*.rej

# PVS static analysis outputs or ephemerals
pvs-*
!pvs-studio.yml
strace_out
suppress_base.json
.PVS-Studio

# macOS directory prefs
.DS_Store

# Profiling data
*.prof
*.profraw
*.profraw.imports
*.afdo
*.afdo.imports

# Intel optimization reports
*.optrpt

# clangd language server
.clangd
.cache
compile_commands.json
