[submodule "submodules/loguru"]
	path = submodules/loguru
	url = https://github.com/dosbox-staging/loguru

[submodule "submodules/SDL_GameControllerDB"]
	path = submodules/SDL_GameControllerDB
	url = https://github.com/gabomdq/SDL_GameControllerDB
