:root {
    --primary-fg-color: #333;
    --md-primary-bg-color: #fff;
    --header-bg-color: #242424;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", sans-serif;
    color: var(--primary-fg-color);
    background-color: var(--primary-bg-color);
    -webkit-font-smoothing: auto;
}

.header {
    background-color: var(--header-bg-color);
    color: #fff;
    padding: 0.75rem 1.5rem;
    display: flex;
    align-items: center;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.1), 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    z-index: 100;
}

.header-content {
    display: flex;
    flex-direction: column;
}

.header-subtitle {
    font-size: 0.75rem;
    color: #b0b0b0;
    font-weight: 400;
    margin-top: 0.1rem;
}

.header-title {
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
    line-height: 1.2;
}

.container {
    max-width: 56rem;
    margin: 0 auto;
    padding: 2rem 1.2rem;
}

h1 {
    font: 400 1.84rem/1.2;
    margin-bottom: 1.5rem;
}

h2 {
    font: 700 1.3rem/1.4;
    margin: 0px;
}

h2.single {
    padding-top: 1rem;
    margin-bottom: 1rem;
    border-bottom: 0.12rem solid #e0e0e0;
}

h2.last {
    margin-bottom: 1rem;
    border-bottom: 0.12rem solid #e0e0e0;
}

h2.first {
    margin-bottom: 0.1rem;
    padding-top: 1rem;
}

h3 {
    font: 600 1.1rem/1.3;
}

a {
    color: var(--primary-fg-color);
    text-decoration: none;
    font-weight: 600;
}

a:hover {
    text-decoration: underline;
}

:not(pre) > code {
    font-size: 0.85em;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 0.1rem 0.3rem;
    border-radius: 3px;
    color: #c3185d;
}
