
#include "winresrc.h"

// icon resource
DOSBOX_ICO ICON "..\\contrib\\icons\\dosbox-staging.ico"

// version resource
VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,78,0,0
 PRODUCTVERSION 0,78,0,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "Comments", "© 2021 DOSBox Staging Team, published under GNU GPL"
            VALUE "CompanyName", "DOSBox Staging"
            VALUE "FileDescription", "DOSBox Staging DOS Emulator"
            VALUE "FileVersion", "0, 78, 0, 0"
            VALUE "InternalName", "dosbox-staging"
            VALUE "LegalCopyright", "Copyright © 2021 DOSBox Staging Team"
            VALUE "OriginalFilename", "dosbox.exe"
            VALUE "ProductName", "DOSBox Staging"
            VALUE "ProductVersion", "0, 78, 0, 0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
