name: Config heavy

on:
  schedule: [cron: '0 16 * * *']

jobs:
  repo-check:
    name: Repository commit check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository and submodules
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - id: commit-check
        run: 'echo ::set-output name=has-commits::$(./scripts/has-commits-since.sh "24 hours ago")'

    outputs:
      has-commits: ${{ steps.commit-check.outputs.has-commits }}

  config_all:
    name: ${{ matrix.system.name }} ${{ matrix.conf.configure_flags }}
    runs-on: ${{ matrix.system.os }}
    needs: repo-check
    if: needs.repo-check.outputs.has-commits == 'true'
    strategy:
      max-parallel: 8
      matrix:
        system:
          - name: Windows
            os: windows-latest
          - name: macOS
            os: macos-latest
          - name: Linux
            os: ubuntu-20.04
        conf:
          - configure_flags:  -Duse_sdl2_net=false
          - configure_flags:  -Duse_opengl=false         # TODO opengl is always disabled on msys2
          - configure_flags:  -Duse_fluidsynth=false
          - configure_flags:  -Duse_opusfile=false
          - configure_flags:  -Duse_png=false
          # - configure_flags:  -Denable_debugger=normal # TODO broken on msys2
          # - configure_flags:  -Denable_debugger=heavy  # TODO broken on msys2
          - configure_flags:  -Ddynamic_core=dyn-x86
          - configure_flags:  -Ddynamic_core=dynrec
          - configure_flags:  -Ddynamic_core=none

    env:
      CHERE_INVOKING: yes

    steps:
      - name: Checkout repository and submodules
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name:  Check repo for commits
        id:    repo-meta
        shell: bash
        run:   'echo ::set-output name=has-commits::$(./scripts/has-commits-since.sh "24 hours ago")'

      - name:  Get Date
        id:    get-date
        if:    matrix.system.name == 'Windows'
        shell: bash
        run:   echo ::set-output name=date::$(date +%Y-%W)

      - uses:  actions/cache@v2
        id:    cache-msys2
        if:    matrix.system.name == 'Windows'
        with:
          path: 'C:/tools/msys64'
          key: msys2-64-${{ steps.get-date.outputs.date }}-6

      - name:  Install MSYS2 (Windows)
        if:    >
          matrix.system.name == 'Windows' &&
          steps.cache-msys2.outputs.cache-hit != 'true'
        run:   choco install msys2 --no-progress

      - name:  Install dependencies ${{ matrix.conf.without_packages }} (Windows)
        if:    >
          matrix.system.name == 'Windows' &&
          steps.cache-msys2.outputs.cache-hit != 'true'
        shell: python scripts\msys-bash.py {0}
        run: |
           pacman -S --noconfirm $(cat .github/packages/windows-latest-msys2.txt)
           .github/scripts/shrink-msys2.sh

      - name:  Install dependencies (Linux)
        if:    matrix.system.name == 'Linux'
        run: |
          sudo apt-get -y update
          sudo apt-get install $(cat .github/packages/ubuntu-20.04-apt.txt)
          sudo pip3 install --upgrade meson ninja

      - name:  Install dependencies (macOS)
        if:    matrix.system.name == 'macOS'
        run: |
          brew install $(cat .github/packages/macos-latest-brew.txt)

      - name:  Build ${{ matrix.conf.configure_flags }} (Windows)
        if:    matrix.system.name == 'Windows'
        shell: python scripts\msys-bash.py {0}
        run: |
          export PATH="/mingw64/bin:$PATH"
          meson setup \
            --wrap-mode=nofallback \
            -Duse_mt32emu=false \
            -Duse_opengl=false \
            ${{ matrix.conf.configure_flags }} \
            build
          cat build/meson-logs/meson-log.txt
          ninja -C build

      - name:  Build ${{ matrix.conf.configure_flags }} (macOS)
        if:    matrix.system.name == 'macOS'
        run: |
          meson setup \
            --wrap-mode=nofallback \
            -Duse_mt32emu=false \
            ${{ matrix.conf.configure_flags }} \
            build
          ninja -C build

      - name:  Build ${{ matrix.conf.configure_flags }} (Linux)
        if:    matrix.system.name == 'Linux'
        run: |
          meson setup \
            --wrap-mode=nofallback \
            -Duse_mt32emu=false \
            ${{ matrix.conf.configure_flags }} \
            build
          ninja -C build
