name: Deploy website

on:
  workflow_dispatch:
    inputs:
      source_branch:
        description: 'Branch to deploy the website from'
        required: true
        default: 'main'
        type: string
      destination_prefix:
        description: 'Deploy to this path prefix (leave empty for the current version)'
        type: string

jobs:
  build_and_deploy_website:
    runs-on: ubuntu-22.04
    steps:
      - name: Check out MkDocs sources
        uses: actions/checkout@v3
        with:
          ref: ${{ inputs.source_branch }}
          submodules: false
          path: dosbox-staging

      - name: Check out organisation GitHub Pages repo
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.ACCESS_TOKEN_REPO }}
          repository: dosbox-staging/dosbox-staging.github.io
          ref: master
          submodules: false
          path: dosbox-staging.github.io

      - name: Set up variables
        run: |
          if [[ -z ${{ inputs.destination_prefix }} ]]; then
            echo "dest_path_prefix=." >> "$GITHUB_ENV"
          else
            echo "dest_path_prefix=preview/${{ inputs.destination_prefix }}" >> "$GITHUB_ENV"
          fi

      - name: Install mkdocs
        run: |
          pip install mkdocs-material==9.0.2 \
                      mkdocs-minify-plugin==0.6.2 --use-pep517 \
                      mkdocs-redirects==1.2.0 --use-pep517 \
                      mkdocs-glightbox==0.3.1 \
                      mdx-gh-links==0.3

      - name: Get current documentation Git hash
        run: |
          cd dosbox-staging
          REV=$(git rev-parse --short HEAD)
          echo "source_git_hash=$REV" >> "$GITHUB_ENV"

      - name: Delete existing documentation
        run: |
          cd dosbox-staging.github.io
          git rm -rf ${{ env.dest_path_prefix }}
          # Do not delete preview builds under $BASE_URL/preview/...
          if [[ ${{ env.dest_path_prefix }} == "." ]]; then
            git checkout HEAD -- preview
          fi

      - name: Build documentation
        run: |
          cd dosbox-staging.github.io
          DEST_PATH=$(pwd)/${{ env.dest_path_prefix }}
          mkdocs build --config-file ../dosbox-staging/website/mkdocs.yml --site-dir $DEST_PATH

      - name: Setup Git config
        run: |
          cd dosbox-staging.github.io
          git config user.name "GitHub Actions Bot"
          git config user.email "<>"

      - name: Commit & publish new release
        run: |
          cd dosbox-staging.github.io
          git add .
          git commit -m "Deployed current website (${{ env.source_git_hash }})"
          git push

