name: Linux builds
on: push

jobs:

  build_ubuntu:
    name: ${{ matrix.conf.name }}
    runs-on: ${{ matrix.conf.os }}
    strategy:
      matrix:
        conf:
          - name: GCC-5 (Ubuntu 16.04)
            os: ubuntu-16.04
            flags: -c gcc
            max_warnings: 284
          - name: GCC-7 (Ubuntu 18.04)
            os: ubuntu-18.04
            flags: -c gcc
            max_warnings: 287
          - name: GCC-9 (Ubuntu 18.04)
            os: ubuntu-18.04
            flags: -c gcc -v 9
            max_warnings: 310
          - name: Clang-8 (Ubuntu 18.04)
            os: ubuntu-18.04
            flags: -c clang -v 8
            max_warnings: 157
    steps:
      - uses: actions/checkout@v1
      - run:  sudo apt-get update
      - name: Install C++ compiler and libraries
        run:  sudo apt-get install -y $(./scripts/list-build-dependencies.sh -m apt ${{ matrix.conf.flags }})
      - name: Log environment
        run:  ./scripts/log-env.sh
      - name: Build
        run:  ./scripts/build.sh --build-type Debug ${{ matrix.conf.flags }}
      - name: Summarize warnings
        env:
          MAX_WARNINGS: ${{ matrix.conf.max_warnings }}
        run:  ./scripts/count-warnings.py build.log
