name: Linux builds
on: push

jobs:

  build_ubuntu:
    name: ${{ matrix.conf.name }}
    runs-on: ${{ matrix.conf.os }}
    strategy:
      matrix:
        conf:
          - name: GCC-5 (Ubuntu 16.04)
            os: ubuntu-16.04
            flags: -c gcc
            max_warnings: 264
          - name: GCC-7 (Ubuntu 18.04)
            os: ubuntu-18.04
            flags: -c gcc
            max_warnings: 267
          - name: GCC-9 (Ubuntu 18.04)
            os: ubuntu-18.04
            flags: -c gcc -v 9
            max_warnings: 290
          - name: Clang-8 (Ubuntu 18.04)
            os: ubuntu-18.04
            flags: -c clang -v 8
            max_warnings: 150
    steps:
      - uses: actions/checkout@v1
        with:
          fetch-depth: 1
      - run:  sudo apt-get update
      - name: Install C++ compiler and libraries
        run:  sudo apt-get install -y $(./scripts/list-build-dependencies.sh -m apt ${{ matrix.conf.flags }})
      - name: Log environment
        run:  ./scripts/log-env.sh
      - name: Build
        run:  ./scripts/build.sh --build-type Debug ${{ matrix.conf.flags }}
      - name: Summarize warnings
        env:
          MAX_WARNINGS: ${{ matrix.conf.max_warnings }}
        run:  ./scripts/count-warnings.py build.log

  build_linux_release_dynamic:
    name: Release build (dynamic)
    runs-on: ubuntu-16.04
    steps:
      - uses: actions/checkout@v1
        with:
          fetch-depth: 1
      - run:  sudo apt-get update
      - name: Install C++ compiler and libraries
        run:  sudo apt-get install -y tree $(./scripts/list-build-dependencies.sh -m apt -c gcc)
      - name: Log environment
        run:  ./scripts/log-env.sh
      - name: Inject version string
        run: |
          set -x
          export VERSION=$(git describe --abbrev=4)
          sed -i "s/AC_INIT(dosbox,git)/AC_INIT(dosbox,$VERSION)/" configure.ac
          echo ::set-env name=VERSION::$VERSION
      - name: Build
        run: |
          set -x
          ./autogen.sh
          ./configure CFLAGS="-O3 -DNDEBUG -pipe" CXXFLAGS="-O3 -DNDEBUG -pipe"
          make -j "$(nproc)"
          strip src/dosbox
      - name: Package
        run: |
          set -x
          # Prepare content
          install -DT        src/dosbox           dest/dosbox
          install -DT -m 644 docs/README.template dest/README
          install -DT -m 644 COPYING              dest/COPYING
          install -DT -m 644 README               dest/doc/manual.txt
          install -DT -m 644 docs/README.video    dest/doc/video.txt
          install -DT -m 644 docs/dosbox.1        dest/man/dosbox.1
          # Fill README template file
          sed -i "s|%GIT_COMMIT%|$GITHUB_SHA|"               dest/README
          sed -i "s|%GIT_BRANCH%|${GITHUB_REF#refs/heads/}|" dest/README
          sed -i "s|%GITHUB_REPO%|$GITHUB_REPOSITORY|"       dest/README
          mv dest "dosbox-staging-$VERSION"
          tree --si -p "dosbox-staging-$VERSION"
          # Create tarball
          tar -cJf "dosbox-staging-$VERSION.tar.xz" "dosbox-staging-$VERSION"
      - name: Upload tarball
        uses: actions/upload-artifact@master
        # GitHub automatically zips the artifacts (there's no way to create
        # a tarball), and it removes all executable flags while zipping.
        # Letting it zip a tarball preserves flags in the compressed files.
        with:
          name: dosbox-staging-linux-x86_64
          path: dosbox-staging-${{ env.VERSION }}.tar.xz
