name: Linux builds

on: [push, pull_request]

env:
  CCACHE_DIR:      "/dev/shm/.ccache"
  CCACHE_MAXSIZE:  "64M"
  CCACHE_COMPRESS: "true"
  CLAMDB_DIR:      "/var/lib/clamav"

jobs:
  build_ubuntu:
    name: ${{ matrix.conf.name }}
    runs-on: ${{ matrix.conf.os }}
    if: github.event_name != 'pull_request' || contains('dreamer,kcgen,ant-222,Wengier', github.actor) == false
    strategy:
      max-parallel: 3
      matrix:
        conf:
          - name: Clang, Ubuntu 20.04
            os: ubuntu-20.04
            packages: clang
            build_flags: --native-file=.github/meson/native-clang.ini
            max_warnings: 0
          - name: GCC, Ubuntu 20.04
            os: ubuntu-20.04
            max_warnings: 0
          - name: GCC, Ubuntu 18.04
            os: ubuntu-18.04
            build_flags: -Duse_fluidsynth=false --wrap-mode=nofallback
            max_warnings: 0
          - name: GCC, Ubuntu 16.04
            os: ubuntu-16.04
            build_flags: -Duse_fluidsynth=false --wrap-mode=nofallback
            max_warnings: 0
          - name: GCC, +tests
            os: ubuntu-20.04
            run_tests: true
            max_warnings: -1
          - name: GCC, +debugger
            os: ubuntu-20.04
            build_flags: -Denable_debugger=normal
            max_warnings: 120
          - name: GCC, -dyn-x86
            os: ubuntu-20.04
            build_flags: -Ddynamic_core=dynrec
            max_warnings: 0
          - name: GCC, -dyn-x86, +debugger
            os: ubuntu-20.04
            build_flags: -Ddynamic_core=dynrec -Denable_debugger=normal
            max_warnings: 157
          - name: GCC, -network
            os: ubuntu-20.04
            build_flags: -Duse_sdl2_net=false
            max_warnings: 0
          - name: GCC, warning_level=3
            os: ubuntu-20.04
            build_flags: -Dwarning_level=3
            max_warnings: 113

    steps:
      - uses: actions/checkout@v2
      - run:  sudo apt-get update

      - name: Install C++ compiler and libraries
        run: |
          sudo apt-get install -y \
            ${{ matrix.conf.packages }} \
            $(cat ./.github/packages/${{ matrix.conf.os }}-apt.txt)

      - name: Install Meson via pip3
        if:   matrix.conf.os != 'ubuntu-20.04'
        run: |
          sudo apt-get install python3-setuptools
          sudo pip3 install meson ninja

      - name:  Prepare compiler cache
        id:    prep-ccache
        shell: bash
        run: |
          mkdir -p "${CCACHE_DIR}"
          echo "::set-output name=dir::$CCACHE_DIR"
          echo "::set-output name=today::$(date -I)"
          echo "::set-output name=yesterday::$(date --date=yesterday -I)"

      - uses:  actions/cache@v2
        id:    cache-ccache
        with:
          path: ${{ steps.prep-ccache.outputs.dir }}
          key:  ccache-${{ matrix.conf.os }}-${{ steps.prep-ccache.outputs.today }}
          restore-keys: |
            ccache-${{ matrix.conf.os }}-${{ steps.prep-ccache.outputs.yesterday }}

      - name: Log environment
        run:  ./scripts/log-env.sh

      - name: Build
        run: |
          set -xo pipefail
          meson setup ${{ matrix.conf.build_flags }} build
          cd build
          ninja |& tee ../build.log

      - name: Run tests
        if:   matrix.conf.run_tests
        run:  meson test -C build --print-errorlogs

      - name: Summarize warnings
        if:   matrix.conf.run_tests != true
        env:
          MAX_WARNINGS: ${{ matrix.conf.max_warnings }}
        run:  ./scripts/count-warnings.py -lf build.log


  build_linux_release_dynamic:
    name: Release build
    runs-on: ubuntu-18.04
    if: github.event_name != 'pull_request' || contains('dreamer,kcgen,ant-222,Wengier', github.actor) == false
    env:
      AR: gcc-ar
      CC: ccache gcc
      CXX: ccache g++
      LD: gcc
      RANLIB: gcc-ranlib
      FLAGS: >-
        -O3 -fstrict-aliasing -fno-signed-zeros -fno-trapping-math
        -fassociative-math -mfpmath=sse -msse4.2 -flto -ffunction-sections
        -fdata-sections -DNDEBUG -pipe
      LINKFLAGS: -Wl,--as-needed
    steps:
      - uses: actions/checkout@v2
      - run:  sudo apt-get update
      - name: Install C++ compiler and libraries
        run:  sudo apt-get install -y tree libpng-dev librsvg2-bin $(./scripts/list-build-dependencies.sh -m apt -c gcc)
      - name:  Prepare compiler cache
        id:    prep-ccache
        shell: bash
        run: |
          mkdir -p "${CCACHE_DIR}"
          echo "::set-output name=dir::$CCACHE_DIR"
          echo "::set-output name=today::$(date -I)"
          echo "::set-output name=yesterday::$(date --date=yesterday -I)"
      - uses:  actions/cache@v2
        id:    cache-ccache
        with:
          path: ${{ steps.prep-ccache.outputs.dir }}
          key:  ccache-linux-release-${{ steps.prep-ccache.outputs.today }}
          restore-keys: |
            ccache-linux-release-${{ steps.prep-ccache.outputs.yesterday }}
      - name: Log environment
        run:  ./scripts/log-env.sh
      - name: Build FluidSynth libraries
        run: |
          set -x
          sudo apt-get install -y python3-setuptools cmake 
          sudo pip3 install meson ninja
          pushd contrib/static-glib
          make
          popd
          cd contrib/static-fluidsynth
          GLIB_LIBS="$PWD/../static-glib/lib/libglib-2.0.a" \
          GTHREAD_LIBS="$PWD/../static-glib/lib/libgthread-2.0.a" \
          GLIB_CFLAGS="-I$PWD/../static-glib/include/glib-2.0" \
          GTHREAD_CFLAGS="-I$PWD/../static-glib/include/glib-2.0" \
          make
      - name: Inject version string
        run: |
          set -x
          git fetch --prune --unshallow
          export VERSION=$(git describe --abbrev=4)
          sed -i "s/AC_INIT(dosbox,git)/AC_INIT(dosbox,$VERSION)/" configure.ac
          echo "VERSION=$VERSION" >> $GITHUB_ENV
      - name: Build
        run: |
          set -x
          ./autogen.sh
          FLUIDSYNTH_CFLAGS="\
              -I$PWD/contrib/static-fluidsynth/include \
              -pthread -I$PWD/contrib/static-glib/include/glib-2.0" \
          FLUIDSYNTH_LIBS="\
              $PWD/contrib/static-fluidsynth/lib/libfluidsynth.a \
              $PWD/contrib/static-glib/lib/libgthread-2.0.a -pthread \
              $PWD/contrib/static-glib/lib/libglib-2.0.a -lm" \
          ./configure \
              --enable-png-static \
              CFLAGS="$FLAGS" \
              CXXFLAGS="$FLAGS" \
              LDFLAGS="$FLAGS $LINKFLAGS -flto=$(nproc)"
          make -j "$(nproc)"
          strip src/dosbox
      - name: Package
        run: |
          set -x

          # Prepare content
          install -DT        src/dosbox           dest/dosbox
          install -DT -m 644 docs/README.template dest/README
          install -DT -m 644 COPYING              dest/COPYING
          install -DT -m 644 README               dest/doc/manual.txt
          install -DT -m 644 docs/README.video    dest/doc/video.txt
          install -DT -m 644 docs/dosbox.1        dest/man/dosbox.1

          # Generate .desktop entry and icon files
          install -DT contrib/linux/dosbox-staging.desktop dest/desktop/dosbox-staging.desktop
          make -C contrib/icons/ hicolor
          mkdir -p dest/icons
          mv contrib/icons/hicolor dest/icons

          # Fill README template file
          sed -i "s|%GIT_COMMIT%|$GITHUB_SHA|"               dest/README
          sed -i "s|%GIT_BRANCH%|${GITHUB_REF#refs/heads/}|" dest/README
          sed -i "s|%GITHUB_REPO%|$GITHUB_REPOSITORY|"       dest/README
          mv dest "dosbox-staging-linux-$VERSION"
          tree --si -p "dosbox-staging-linux-$VERSION"

          # Create tarball
          tar -cJf "dosbox-staging-linux-$VERSION.tar.xz" "dosbox-staging-linux-$VERSION"

      - name:  Prepare Clam AV DB cache
        id:    prep-clamdb
        shell: bash
        run: |
          sudo mkdir -p "${CLAMDB_DIR}"
          sudo chmod 777 "${CLAMDB_DIR}"
          echo "::set-output name=today::$(date -I)"
          echo "::set-output name=yesterday::$(date --date=yesterday -I)"
      - uses:  actions/cache@v2
        id:    cache-clamdb
        with:
          path: ${{ env.CLAMDB_DIR }}/*.cvd
          key:  clamdb-linux-${{ steps.prep-clamdb.outputs.today }}-1
          restore-keys: |
            clamdb-linux-${{ steps.prep-clamdb.outputs.yesterday }}-1

      - name: Clam AV scan
        run: |
          set -x
          sudo apt-get install clamav
          sudo systemctl stop clamav-freshclam
          sudo sed -i 's/30/20000/g' /etc/clamav/freshclam.conf
          sudo freshclam --foreground
          clamscan --heuristic-scan-precedence=yes --recursive --infected .

      - name: Upload tarball
        uses: actions/upload-artifact@v2
        # GitHub automatically zips the artifacts (there's no way to create
        # a tarball), and it removes all executable flags while zipping.
        # Letting it zip a tarball preserves flags in the compressed files.
        with:
          name: dosbox-staging-linux-x86_64
          path: dosbox-staging-linux-${{ env.VERSION }}.tar.xz


  publish_additional_artifacts:
    name: Publish additional artifacts
    needs: build_linux_release_dynamic
    runs-on: ubuntu-18.04
    if: github.event_name != 'pull_request' || contains('dreamer,kcgen,ant-222,Wengier', github.actor) == false
    steps:
      - uses: actions/checkout@v2
      - name: Generate changelog
        run: |
          set +x
          git fetch --unshallow
          VERSION=$(git describe --abbrev=4)
          echo "VERSION=$VERSION" >> $GITHUB_ENV
          NEWEST_TAG=$(git describe --abbrev=0)
          git log "$NEWEST_TAG..HEAD" > changelog-$VERSION.txt
      - uses: actions/upload-artifact@v2
        with:
          # Keep exactly this artifact name; it's being used to propagate
          # version info via GitHub REST API
          name: changelog-${{ env.VERSION }}.txt
          path: changelog-${{ env.VERSION }}.txt
