name: macOS builds

on: [push, pull_request]

env:
  CCACHE_DIR:      "${{ github.workspace }}/.ccache"
  CCACHE_MAXSIZE:  "64M"
  CCACHE_COMPRESS: "true"
  CLAMDB_DIR:      "/usr/local/Cellar/clamav"

jobs:
  build_macos:
    name: ${{ matrix.conf.name }}
    runs-on: macos-latest
    if: github.event_name != 'pull_request' || contains('dreamer,kcgen,ant-222,Wengier', github.actor) == false
    strategy:
      max-parallel: 3
      matrix:
        conf:
          - name: Clang
            packages: meson
            build_flags: --wrap-mode=nofallback
            max_warnings: 0
          - name: GCC
            packages: meson gcc@9
            build_flags: --wrap-mode=nofallback --native-file=.github/meson/native-gcc-9.ini
            max_warnings: 0
          - name: Clang, +tests
            packages: meson
            run_tests: true
            max_warnings: -1
          - name: Clang, +debugger
            packages: meson
            build_flags: --wrap-mode=nofallback -Denable_debugger=normal
            max_warnings: 157
          - name: Clang, warning_level=3
            packages: meson
            build_flags: --wrap-mode=nofallback -Dwarning_level=3
            max_warnings: 190

    steps:
      - uses: actions/checkout@v2

      - name: Install C++ compiler and libraries
        run: |
          brew install \
            ${{ matrix.conf.packages }} \
            $(cat ./.github/packages/macos-brew.txt)

      - name:  Prepare compiler cache
        id:    prep-ccache
        shell: bash
        run: |
          mkdir -p "${CCACHE_DIR}"
          echo "::set-output name=dir::$CCACHE_DIR"
          echo "::set-output name=today::$(gdate -I)"
          echo "::set-output name=yesterday::$(gdate --date=yesterday -I)"

      - uses:  actions/cache@v2
        id:    cache-ccache
        with:
          path: ${{ steps.prep-ccache.outputs.dir }}
          key:  ccache-${{ matrix.conf.os }}-${{ steps.prep-ccache.outputs.today }}
          restore-keys: |
            ccache-${{ matrix.conf.os }}-${{ steps.prep-ccache.outputs.yesterday }}

      - name: Log environment
        run:  ./scripts/log-env.sh

      - name: Build
        run: |
          set -xo pipefail
          meson setup ${{ matrix.conf.build_flags }} build
          meson compile -C build 2>&1 | tee build.log

      - name: Run tests
        if:   matrix.conf.run_tests
        run:  meson test -C build --print-errorlogs

      - name: Summarize warnings
        if:   matrix.conf.run_tests != true
        env:
          MAX_WARNINGS: ${{ matrix.conf.max_warnings }}
        run:  python3 ./scripts/count-warnings.py -lf build.log


  build_macos_release:
    name: Release build
    runs-on: macos-latest
    # Disabled pending meson static-SDL solution
    if: false
    # github.event_name != 'pull_request' || contains('dreamer,kcgen,ant-222,Wengier', github.actor) == false
    env:
      CC: ccache clang
      CXX: ccache clang++
      FLAGS: -DNDEBUG -O3 -fno-math-errno -fstrict-aliasing -march=nehalem -flto=thin -pipe
    steps:
      - uses: actions/checkout@v2
      - name: Install C++ compiler and libraries
        run:  brew install librsvg $(./scripts/list-build-dependencies.sh -m brew -c clang)
      - name:  Prepare compiler cache
        id:    prep-ccache
        shell: bash
        run: |
          mkdir -p "${CCACHE_DIR}"
          echo "::set-output name=dir::$CCACHE_DIR"
          echo "::set-output name=today::$(gdate -I)"
          echo "::set-output name=yesterday::$(gdate --date=yesterday -I)"
      - uses:  actions/cache@v2
        id:    cache-ccache
        with:
          path: ${{ steps.prep-ccache.outputs.dir }}
          key:  ccache-macos-release-${{ steps.prep-ccache.outputs.today }}
          restore-keys: |
            ccache-macos-release-${{ steps.prep-ccache.outputs.yesterday }}
      - name: Log environment
        run:  ./scripts/log-env.sh
      - name: Build static Glib libraries
        run: |
          set -x
          brew install meson
          cd contrib/static-glib
          gmake
      - name: Build static FluidSynth library
        env:
          GLIB_LIBS:        ${{ github.workspace }}/contrib/static-glib/lib/libglib-2.0.a
          GTHREAD_LIBS:     ${{ github.workspace }}/contrib/static-glib/lib/libgthread-2.0.a
          GLIB_CFLAGS:    -I${{ github.workspace }}/contrib/static-glib/include/glib-2.0
          GTHREAD_CFLAGS: -I${{ github.workspace }}/contrib/static-glib/include/glib-2.0
        run:  cd contrib/static-fluidsynth && gmake
      - name: Build static Opus libraries
        run: |
          set -x
          cd contrib/static-opus
          export CFLAGS="$FLAGS"
          export CXXFLAGS="$FLAGS"
          gmake -j "$(sysctl -n hw.physicalcpu)"
      - name: Inject version string
        run: |
          set -x
          git fetch --prune --unshallow
          export VERSION=$(git describe --abbrev=5)
          sed -i -e "s/AC_INIT(dosbox,git)/AC_INIT(dosbox,$VERSION)/" configure.ac
          echo "VERSION=$VERSION" >> $GITHUB_ENV
      - name: Build
        env:
          FLUIDSYNTH_CFLAGS: >-
            -I${{ github.workspace }}/contrib/static-fluidsynth/include -pthread
            -I${{ github.workspace }}/contrib/static-glib/include/glib-2.0
          FLUIDSYNTH_LIBS: >-
            ${{ github.workspace }}/contrib/static-fluidsynth/lib/libfluidsynth.a
            ${{ github.workspace }}/contrib/static-glib/lib/libgthread-2.0.a -pthread
            ${{ github.workspace }}/contrib/static-glib/lib/libglib-2.0.a
            /usr/local/lib/libintl.a -lm
          OPUSFILE_CFLAGS: >-
            -I${{ github.workspace }}/contrib/static-opus/include
            -I${{ github.workspace }}/contrib/static-opus/include/opus
          OPUSFILE_LIBS: >-
            ${{ github.workspace }}/contrib/static-opus/lib/libopusfile.a
            ${{ github.workspace }}/contrib/static-opus/lib/libogg.a
            ${{ github.workspace }}/contrib/static-opus/lib/libopus.a -lm
        run: |
          set -x
          ./autogen.sh
          ./configure \
            --enable-png-static \
            --enable-sdl-static \
            CFLAGS="$FLAGS" CXXFLAGS="$FLAGS"
          gmake -j "$(sysctl -n hw.physicalcpu)"
          strip src/dosbox
          otool -L src/dosbox
      - name: Package
        run: |
          set -x

          # Generate icon
          make -C contrib/icons/ dosbox-staging.icns

          dst=dist/dosbox-staging.app/Contents

          # Prepare content
          install -d "$dst/MacOS/"
          install -d "$dst/Resources/"
          install -d "$dst/SharedSupport/"

          install        "src/dosbox"                        "$dst/MacOS/"
          install -m 644 "contrib/macos/Info.plist.template" "$dst/Info.plist"
          install -m 644 "contrib/macos/PkgInfo"             "$dst/PkgInfo"
          install -m 644 "contrib/icons/dosbox-staging.icns" "$dst/Resources/"
          install -m 644 "docs/README.template"              "$dst/SharedSupport/README"
          install -m 644 "COPYING"                           "$dst/SharedSupport/COPYING"
          install -m 644 "README"                            "$dst/SharedSupport/manual.txt"
          install -m 644 "docs/README.video"                 "$dst/SharedSupport/video.txt"

          # Fill README template file
          sed -i -e "s|%VERSION%|${{ env.VERSION }}|"           "$dst/Info.plist"
          sed -i -e "s|%GIT_COMMIT%|$GITHUB_SHA|"               "$dst/SharedSupport/README"
          sed -i -e "s|%GIT_BRANCH%|${GITHUB_REF#refs/heads/}|" "$dst/SharedSupport/README"
          sed -i -e "s|%GITHUB_REPO%|$GITHUB_REPOSITORY|"       "$dst/SharedSupport/README"

          ln -s /Applications dist/

          hdiutil create \
              -volname "dosbox-staging" \
              -srcfolder dist \
              -ov -format UDZO "dosbox-staging-macOS-${{ env.VERSION }}.dmg"

      - name:  Install Clam AV
        id:    prep-clamdb
        shell: bash
        run: |
          brew install clamav > /dev/null
          clamconf=/usr/local/etc/clamav/freshclam.conf
          mv -f "$clamconf".sample "$clamconf"
          sed -ie 's/^Example/#Example/g' "$clamconf"
          sed -ie 's/30/20000/g' "$clamconf"
          echo "::set-output name=today::$(gdate -I)"
          echo "::set-output name=yesterday::$(gdate --date=yesterday -I)"
      - uses:  actions/cache@v2
        id:    cache-clamdb
        with:
          path: ${{ env.CLAMDB_DIR }}/**/*.cvd
          key:  clamdb-macos-${{ steps.prep-clamdb.outputs.today }}-2
          restore-keys: |
            clamdb-macos-${{ steps.prep-clamdb.outputs.yesterday }}-2

      - name: Clam AV scan
        run: |
          set -x
          freshclam --foreground
          clamscan --heuristic-scan-precedence=yes --recursive --infected .

      - name: Upload disk image
        uses: actions/upload-artifact@v2
        # GitHub automatically zips the artifacts, and there's no option
        # to skip it or upload a file only.
        with:
          name: dosbox-staging-macOS-x86_64
          path: dosbox-staging-macOS-${{ env.VERSION }}.dmg


  publish_additional_artifacts:
    name: Publish additional artifacts
    needs: build_macos_release
    runs-on: macos-latest
    if: github.event_name != 'pull_request' || contains('dreamer,kcgen,ant-222,Wengier', github.actor) == false
    steps:
      - uses: actions/checkout@v2
      - name: Generate changelog
        run: |
          set +x
          git fetch --unshallow
          VERSION=$(git describe --abbrev=4)
          echo "VERSION=$VERSION" >> $GITHUB_ENV
          NEWEST_TAG=$(git describe --abbrev=0)
          git log "$NEWEST_TAG..HEAD" > changelog-$VERSION.txt
      - uses: actions/upload-artifact@v2
        with:
          # Keep exactly this artifact name; it's being used to propagate
          # version info via GitHub REST API
          name: changelog-${{ env.VERSION }}.txt
          path: changelog-${{ env.VERSION }}.txt
