name: macOS builds
on: push

jobs:

  build_macos:
    name: ${{ matrix.conf.name }}
    runs-on: macos-latest
    strategy:
      matrix:
        conf:
          - name: Clang
            flags: -c clang
            max_warnings: 209
          - name: GCC-9
            flags: -c gcc -v 9
            max_warnings: 297
    steps:
      - uses: actions/checkout@v1
      - name: Install C++ compiler and libraries
        run:  brew install $(./scripts/list-build-dependencies.sh -m brew ${{ matrix.conf.flags}})
      - name: Log environment
        run:  ./scripts/log-env.sh
      - name: Build
        run:  ./scripts/build.sh --build-type Debug ${{ matrix.conf.flags }}
      - name: Summarize warnings
        env:
          MAX_WARNINGS: ${{ matrix.conf.max_warnings }}
        run:  python3 ./scripts/count-warnings.py build.log
