name: macOS builds
permissions: read-all

on:
  push:
    paths-ignore:
      - '.clang-format'
      - '.mdl-styles'
      - '*.md'
      - 'docs/**'
      - 'licenses/**'
      - 'website/**'

  pull_request:
    paths-ignore:
      - '.clang-format'
      - '.mdl-styles'
      - '*.md'
      - 'docs/**'
      - 'licenses/**'
      - 'website/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build_macos_release:
    name:    Release build (${{ matrix.conf.arch }})
    runs-on: ${{ matrix.conf.host }}
    if:      github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository
    env:
      MACOSX_DEPLOYMENT_TARGET: ${{ matrix.conf.minimum_deployment }}

    strategy:
      matrix:
        conf:
          - host: macos-15
            arch: x86_64
            minimum_deployment: '11.0'
            max_warnings: 8

          - host: macos-15
            arch: arm64
            minimum_deployment: '11.0'
            max_warnings: 8

    steps:
      - name: Check out repository
        uses: actions/checkout@v4
        with:
          submodules: false

      - name: Set common vars
        uses: ./.github/actions/set-common-vars

      - name: Set up CMake
        uses: lukka/get-cmake@6b3e96a9bc9976b8b546346fdd102effedae0ca8 # v4.0.3

      - name: Set up vcpkg
        uses: ./.github/actions/setup-vcpkg
        with:
          name_os: "${{ matrix.conf.host }}"
          arch: "${{ matrix.conf.arch }}"

      - name: Log environment
        run: arch -arch=${{ matrix.conf.arch }} ./scripts/ci/log-env.sh

      - name: Build release
        run: |
          set -xo pipefail
          cmake --preset release-macos-${{ matrix.conf.arch }}
          cmake --build --preset release-macos-${{ matrix.conf.arch }} 2>&1 | tee build.log

      - name: Run tests
        run: |
          set -xo pipefail
          ctest --preset release-macos-${{ matrix.conf.arch }} 2>&1 | tee tests.log

      - name: Dump workspace contents
        run: find $RUNNER_WORKSPACE

      - name: Summarize warnings
        env:
          MAX_WARNINGS: ${{ matrix.conf.max_warnings }}
        run:  python3 ./scripts/ci/count-warnings.py -lf build.log

      - name: Verify executable RPATH
        run: |
          set -x
          otool -l build/release-macos-${{ matrix.conf.arch }}/Release/dosbox \
              | grep "path @executable_path/lib"

      - name: Upload binary
        uses: actions/upload-artifact@v4
        with:
          name: dosbox-${{ matrix.conf.arch }}
          path: build/release-macos-${{ matrix.conf.arch }}/Release/dosbox
          overwrite: true

      - name: Upload resources
        uses: actions/upload-artifact@v4
        with:
          name: Resources
          path: build/release-macos-${{ matrix.conf.arch }}/Resources
          overwrite: true


  publish_universal_build:
    name:    Publish universal build
    needs:   build_macos_release
    runs-on: macos-15
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
        with:
          submodules: false

      - name: Set common vars
        uses: ./.github/actions/set-common-vars

      - name: Install brew depedencies
        run: HOMEBREW_NO_INSTALLED_DEPENDENTS_CHECK=1 brew install --overwrite librsvg

      - name: Download binaries
        uses: actions/download-artifact@v4

      - name: Package
        run: |
          mv Resources ../
          ./scripts/packaging/create-package.sh \
              -p macos \
              -v $DOSBOX_VERSION_AND_HASH \
              -f \
              "$(pwd)" \
              "$(pwd)"

      - name: Inject external vcpkg dependencies
        run: |
          set -x
          ZIP_NAME=dosbox-vcpkg-deps-macos-universal.zip

          wget -nv https://github.com/dosbox-staging/dosbox-staging-ext/releases/download/$VCPKG_EXT_DEPS_VERSION/$ZIP_NAME
          unzip $ZIP_NAME -d vcpkg-deps

          LIB_DIR="dist/DOSBox Staging.app/Contents/MacOS/lib"
          mkdir "$LIB_DIR"
          cp vcpkg-deps/release/* "$LIB_DIR"


      - name:  Inject Nuked-SC55-CLAP plugin
        run: |
          set -x
          ZIP_NAME=Nuked-SC55-CLAP-macOS-$NUKED_SC55_CLAP_VERSION.zip

          curl -L https://github.com/johnnovak/Nuked-SC55-CLAP/releases/download/$NUKED_SC55_CLAP_VERSION/$ZIP_NAME -o $ZIP_NAME
          unzip $ZIP_NAME -d nuked-sc55-clap

          PLUGINS_DIR="dist/DOSBox Staging.app/Contents/PlugIns"
          mkdir "$PLUGINS_DIR"
          cp -R nuked-sc55-clap/* "$PLUGINS_DIR"


      - name: Create DMG disk image
        run: |
          ln -s /Applications dist/

          codesign -s "-" "dist/DOSBox Staging.app" --force --deep -v

          hdiutil create \
              -volname "DOSBox Staging" \
              -srcfolder dist \
              -ov \
              -format UDZO "dosbox-staging-macOS-universal-$DOSBOX_VERSION_AND_HASH.dmg"


      - name: Upload DMG disk image
        uses: actions/upload-artifact@v4
        # GitHub automatically zips the artifacts, and there's no option
        # to skip it or upload a file only.
        with:
          name: dosbox-staging-macOS-universal-${{ env.DOSBOX_VERSION_AND_HASH }}
          path: dosbox-staging-macOS-universal-${{ env.DOSBOX_VERSION_AND_HASH }}.dmg
