name: Platform builds

on:
  schedule: [cron: '0 14 * * *']

jobs:
  repo-check:
    name: Repository commit check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository and submodules
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - id: commit-check
        run: 'echo ::set-output name=has-commits::$(./scripts/has-commits-since.sh "24 hours ago")'
    outputs:
      has-commits: ${{ steps.commit-check.outputs.has-commits }}

  build_linux_platforms:
    name: ${{ matrix.conf.name }}
    runs-on: ubuntu-latest
    needs: repo-check
    if: needs.repo-check.outputs.has-commits == 'true'
    strategy:
      matrix:
        conf:
          #- name: ARMv7 (Ubuntu 20.04)
          #  arch: armv7
          #  distro: ubuntu20.04
          - name: ARM64 (Ubuntu 20.04)
            arch: aarch64
            distro: ubuntu20.04
          - name: s390x (Ubuntu 20.04)
            arch: s390x
            distro: ubuntu20.04
          - name: ppc64le (Ubuntu 20.04)
            arch: ppc64le
            distro: ubuntu20.04
    steps:
      - name: Checkout repository and submodules
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Build
        uses: uraimo/run-on-arch-action@master
        with:
          arch:   ${{ matrix.conf.arch }}
          distro: ${{ matrix.conf.distro }}
          run: |
            set -xo pipefail
            apt-get update
            apt-get install -y curl python3-dev cmake make g++ $(cat ./.github/packages/ubuntu-20.04-apt.txt)
            curl https://bootstrap.pypa.io/get-pip.py -o get-pip.py
            python3 get-pip.py
            export PATH="$HOME/.local/bin:$PATH"
            pip3 install --user --upgrade meson ninja
            ./scripts/log-env.sh
            meson build \
              -Duse_fluidsynth=false \
              -Duse_mt32emu=false \
              --wrap-mode=nofallback
            meson compile -C build |& tee build.log

      - name: Summarize warnings
        run:  ./scripts/count-warnings.py --max-warnings -1 build.log
